@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
    background-image: url('texture.png');
    background-repeat: repeat;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); 
}

.logo {
    width: 20vw;
}

#voice {
    width: 150px;
    display: none;
}

h1 {
    color: aliceblue;
    font-family: "Proppins", sans-serif;
}
#name{
    color: indigo;
    font-size:45px;
}
#va{
    color: indigo; 
    font-size: 45px;
}

#btn {
    width: 30%;
    background: linear-gradient(to  right,indigo,lavender);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 2px 10px indigo,lavender;
    border: none;
    transition: 5px over 30s;
    cursor: pointer;
}

#btn:hover {
     box-shadow: 2px 2px 10px rgb(21,145,207),rgb(201,41,116);
     letter-spacing: 2px;
}

.mic {
    width: 30px;
}

#content {
    font-size: 18px;
}
